<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
        <span class="site-text">{{site.user_org}}</span>
      </h1>
      <br><br>
      <span class="site-text">Contact Details (Business)</span>
      <div class="icons-header">
        <a aria-label="IBM - Watson Health Slack DM" target="_blank" href="slack://user?team={{site.slack_ibm_team}}&id={{site.slack_id}}"><i class="icon fa fa-slack" aria-hidden="false"></i></a>
        <a aria-label="IBM - Watson Workspace DM" target="_blank" href="https://watsonwork.me/morten@ie.ibm.com"><i class="icon fa mkk-watson-work" aria-hidden="true"></i></a>
        <a aria-label="Send email " href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <br><br>
      <span class="site-text">Contact Details (Personal)</span>
      <div class="icons-header">
        <a aria-label="IBM - Watson Workspace DM" target="_blank" href="https://watsonwork.me/morten@ie.ibm.com"><i class="icon fa mkk-watson-work" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.gplus_username}}/posts"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
